<button type="button" (click)=logout()>LOGOUT</button>
<div class="chatbox">
      <div class="chatlogs">
          <div class="chat Self">
              <div class="userPhoto"></div>
              <p class="chatMessage">Hi I am udit!!!!</p>
            </div>
            <div class="chat Bot">
              <div class="userPhoto"></div>
              <p class="chatMessage">Hello udit!!!!</p>
            </div>
            <div class="chat Self">
              <div class="userPhoto"></div>
              <p class="chatMessage">Do You Have an Android Device</p>
            </div>
            <div class="chat Bot">
              <div class="userPhoto"></div>
              <p class="chatMessage">Yes What is your requirement</p>
            </div>
            <div class="chat Self">
              <div class="userPhoto"></div>
              <p class="chatMessage">Android Oreo</p>
            </div>
            <div class="chat Bot">
              <div class="userPhoto"></div>
              <p class="chatMessage">Ram??</p>
            </div>
            <div class="chat Self">
              <div class="userPhoto"></div>
              <p class="chatMessage">8gb</p>
            </div>
            
        </div>

        <div class="chatForm">
            <textarea name="" id="msg"></textarea>
            <button id="send">send</button>
        </div>
    </div>  

